// Profile config names for nf-core/configs
params {
    config_profile_description   = 'Configuration for running Nextflow pipelines on Gridion computers'
    config_profile_contact       = 'Department of Clinical Microbiology, Karolinska University Hospital, Stockholm'
    config_profile_url           = 'https://github.com/samuell/trana-install'
    priority                     = null
    clusterOptions               = null
    schema_ignore_params         = "priority,clusterOptions"
    validationSchemaIgnoreParams = "priority,clusterOptions,schema_ignore_params"
}

singularity {
    enabled      = false
    envWhitelist = ['_JAVA_OPTIONS']
}

singularity {
    enabled     = true
}

params {
    max_memory = '30.GB'
    max_cpus   = 12
    max_time   = '72.h'
}

process {
    resourceLimits = [
        cpus: 12,
        memory: '30.GB',
        time: 72.h
    ]

    containerOptions = '--bind /data/trana'
}

executor {
    name              = 'local'
}

profiles {
    gridion {
        docker.enabled      = false
        singularity.enabled = true
    }
}
